<!DOCTYPE html>
<!-- 
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Andres Felipe Martinez Diaz">
        <title>Autos</title>
        <link href="../src/css/styles.css" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="site_header">
                <div>
                    <img src="../src/img/logo-Seed.png" alt="logo de empresa tecnologica seedem">
                    <a href="../index.html">Home</a>
                </div>
                <h2>
                    Venta de autos
                </h2>
                <p>
                    los automoviles de ultimo modelo
                </p>
            </div>
            <ul class="menu">
                <li class="nav">
                    <nav> 
                        <a href="./autos.html"> Autos </a>
                    </nav>
                </li>
                <li class="nav">
                    <nav> 
                        <a href="./galeria.html"> Galeria </a>
                    </nav>
                </li>
                <li class="nav">
                    <nav> 
                        <a href="./contactenos.html"> Contactenos </a>
                    </nav>
                </li>
            </ul>
            <ul class="menu_redes">
                <li>
                    <a class="fa" href="https://www.facebook.com">facebook</a>
                    <a class="ins" href="https://www.instagram.com">instagram</a>
                    <a class="tw" href="https://www.twitter.com">twitter</a>
                </li>
            </ul>
        </header>

        <section>
           <div class="title-page">
               <h1>
                   Galeria
               </h1>
           </div>
           <ul class="galeria">
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/K267u5YGwIw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VVfEi2r6-68?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VVfEi2r6-68?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
           </ul>
        </section>
        
        <footer>
            <ul class="menu_footer">
                <li class="elemento_footer">
                    <nav> 
                        <a href="./autos.html"> Autos </a>
                    </nav>
                </li>
                <li class="elemento_footer">
                    <nav> 
                        <a href="./galeria.html"> Galeria </a>
                    </nav>
                </li>
                <li class="elemento_footer">
                    <nav> 
                        <a href="./contactenos.html"> Contactenos </a>
                    </nav>
                </li>
            </ul>

            <ul class="info-footer">
                <li class="elemento_inf_footer">
                    <p>afmartinez@seedem.co</p>
                </li>
                <li class="elemento_inf_footer telefono">
                    <p>3227544540</p>
                </li>
            </ul>
        </footer>
    </body>
</html>